body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

.jumbotron{
  background: linear-gradient(to right, green, yellow);
  border-radius: 0px!important;
  margin-top: -10px;

}

.searchForm{
  height: 80px;
  font-size: 50px;
}

.searchBtn{
  height: 40px;
  width: 200px;
}

.btn {
  margin-left: 5px;
}

.sortBtn{
  margin-right: 20px;
}

.active{
  background-color: #66ff33;
  padding: 18px 10px 18px 10px;
}